<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Email:</strong>
  <%= @article.body %>
</p>
<p>
  <strong>Age:</strong>
  <%= @article.status %>
</p>
<%= link_to edit_article_path(@article) do %>
  <%= t "users.edit.edit" %>
<% end %> |
