<p id="notice"><%= notice %></p>
<p>
  <%= @article.title %>
</p>
<p>
  <%= @article.body %>
</p>
<p>
  <%= @article.status %>
</p>
<%= link_to edit_article_path(@article) do %>
  <%= t "users.edit.edit" %>
<% end %> |
