<p id="notice"><%= notice %></p>
<div>
  <% provide :title, @user.name %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
    <div class="col-md-8">
      <% if @user.articles.any? %>
        <h3>
          <%= @user.articles.count %>
          <%= t "articles.new.article" %>
        </h3>
        <ol class="articles">
          <%= render @user.articles %>
        </ol>
        <%== pagy_bootstrap_nav @pagy %>
      <% else %>
        <h3>
          <%= t "articles.new.not_found" %>
        </h3>
      <% end %>
    </div>
  </div>
</div>
